@use '../../../../shared/styles/colors' as *;

.dialog-container {
    padding: 0 16px;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 400px;
    padding-top: 24px;
    padding-bottom: 8px;
    max-height: 70vh;

    @media (max-width: 600px) {
        min-width: auto;
        width: 100%;
    }

    .w-100 {
        width: 100%;
    }

    .form-row {
        display: flex;
        gap: 16px;

        mat-form-field {
            flex: 1;
        }

        @media (max-width: 600px) {
            display: block;

            mat-form-field {
                width: 100%;
                margin-bottom: 8px;
            }
        }
    }
}

.dialog-actions {
    padding-bottom: 16px;
    padding-right: 24px;
}
