@if (dataSource.data.length > 0) {
<div class="export-section">
    <button matButton="elevated" ngxPrint printSectionId="areaImpresion">Imprimir</button>
</div>
}

<!-- Contenedor para pantalla -->
<div class="screen-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Reporte de Hoja de Ruta</mat-card-title>
            <mat-card-subtitle>Fecha de impresion: {{fechaImpresion | date:'dd/MM/yyyy'}}</mat-card-subtitle>
            <mat-card-subtitle>Lugar: {{lugar()}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <app-table [data]="dataSource.data" [columns]="tableColumns" [displayedColumns]="displayedColumns"
                [showPaginator]="true">
            </app-table>

        </mat-card-content>
    </mat-card>
</div>

<!-- Contenedor para impresión -->
<div id="areaImpresion" class="print-content">
    <div class="print-header">
        <h2>Reporte de Hoja de Ruta</h2>
        <p>Fecha de impresion: {{fechaImpresion | date:'dd/MM/yyyy'}}</p>
        <p>Lugar: {{lugar()}}</p>
    </div>
    <table class="print-data-table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Número de Factura</th>
                <th>Transporte</th>
                <th>Ciudad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            @for (item of dataSource.data; track item) {
            <tr>
                <td>{{item.Cliente}}</td>
                <td>{{item.NumFactura}}</td>
                <td>{{item.Transporte}}</td>
                <td>{{item.Ciudad}}</td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>