<mat-toolbar [color]="color" class="header-toolbar">
    <div class="header-content">
        <div class="header-left">
            @if (icon) {
            <mat-icon class="header-icon">{{ icon }}</mat-icon>
            }
            <div class="header-text">
                <h1 class="header-title">{{ title }}</h1>
                @if (subtitle) {
                <h2 class="header-subtitle">{{ subtitle }}</h2>
                }
            </div>
        </div>
        <div class="header-right">
            <ng-content></ng-content>
        </div>
    </div>
</mat-toolbar>