@if (isLoading()) {
<app-loader-page message="Cargando información del lote..." icon="inventory_2" />
}

@if(detalleLote().CodArticulo) {
<div class="container">
    <table>
        @if (detalleLote()) {
        <tr>
            <td style="background-color: #fff">

                <h2 class="estado" [class]="estadoLote()">{{estadoLote()}}</h2>
                <h6>
                    {{esProductoTerminado()?detalleLote().CodPoePT:detalleLote().CodPoe}}</h6>
                <h4>{{detalleLote().Articulo}}</h4>
                <table class="infoLote">
                    <tr>
                        <td><b>Cod Articulo:</b></td>
                        <td width="80%">{{detalleLote().CodArticulo}}</td>
                    </tr>
                    <tr>
                        <td><b>Lote:</b></td>
                        <td> {{lote()}}</td>
                    </tr>
                    @if(!esProductoTerminado()) {
                    <tr>
                        <td><b>Lote Proveedor:</b></td>
                        <td>{{detalleLote().LoteProveedor}}</td>
                    </tr>
                    }
                    <tr>
                        <td><b>Proveedor:</b></td>
                        <td> {{detalleLote().Proveedor}}</td>
                    </tr>

                    @if(!esProductoTerminado()) {
                    <tr>
                        <td><b>Fabricante:</b></td>
                        <td>{{detalleLote().Fabricante}}</td>
                    </tr>
                    }
                    @if(esProductoTerminado()) {
                    <tr>
                        <td><b>Titular del Producto:</b></td>
                        <td>{{detalleLote().Cliente}}</td>
                    </tr>
                    }
                    <tr>
                        <td style="padding-right: 10px;"><b>Condiciones de Almacenamiento:</b></td>
                        <td> {{esProductoTerminado()?detalleLote().CondicionAlmacenamientoPT:detalleLote().CondicionAlmacenamiento}}
                        </td>
                    </tr>
                    @if(esProductoTerminado()) {
                    <tr>
                        <td style="padding-right: 10px;"><b>Empacado Por:</b></td>
                        <td> {{detalleLote().ResponsableEmpaque}}</td>
                    </tr>
                    }
                    @if(!esProductoTerminado()) {
                    <tr>
                        <td><b>Fecha Ingreso:</b></td>
                        <td>{{detalleLote().FechaIngreso}}</td>
                    </tr>
                    }
                    <tr>
                        <td><b>Fecha Fab.:</b></td>
                        <td>{{detalleLote().FechaFabricacion}}</td>
                    </tr>
                    <tr>
                        <td><b>Fecha Ven.:</b></td>
                        <td> {{detalleLote().FechaVencimiento}}</td>
                    </tr>
                    @if(!esProductoTerminado()) {
                    <tr>
                        <td><b>Fecha Retest:</b></td>
                        <td>{{detalleLote().FechaRetest}}</td>
                    </tr>
                    }
                    @if(esProductoTerminado()) {
                    <tr>
                        <td><b>Cantidad Por Caja:</b></td>
                        <td>{{detalleLote().CantidadPT}} {{detalleLote().UnidadMedida}}</td>
                    </tr>
                    }
                    <tr>
                        <td><b>Bultos Totales:</b></td>
                        <!-- Internamente la api discrimina los bultos de MP y los bultos de PT -->
                        <td> {{detalleLote().Bultos}}</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;"><b>Observaciones:</b></td>
                        <td> {{detalleLote().Observaciones}}</td>
                    </tr>
                </table>
                <br>
                @if (detalleLote().UbicacionesCantidad && detalleLote().UbicacionesCantidad.length>0) {
                <table width="100%">
                    <thead>
                        <th>CodBodega</th>
                        <th>Ubicación</th>
                        <th>Cantidad ({{detalleLote().UnidadMedida}})</th>
                    </thead>
                    <tbody class="infoLote">
                        @for (uc of detalleLote().UbicacionesCantidad; track uc) {
                        <tr>
                            <td>{{uc.CodBodega}}</td>
                            <td>{{uc.Ubicacion}}</td>
                            @if(!uc.Ubicacion) {
                            <td>{{uc.CantBodega}}</td>
                            }
                            @if(uc.Ubicacion) {
                            <td>{{uc.CantUbicacion}}</td>
                            }
                        </tr>
                        }
                    </tbody>
                </table>
                }
            </td>
        </tr>
        }
    </table>
</div>
}
@else {
<div class="empty-state">
    <mat-icon>warning</mat-icon>
    <p>No se encontraron los datos</p>
</div>
}