.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  // fondo moderno
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/bg2.jpg') no-repeat center center;
  background-size: cover;
}

.login-card {
  width: 400px;
  padding: 2rem;
  border-radius: 20px;

  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 1);

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);

  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 500;
    padding-bottom: 20px;
  }

  .subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
    color: gray;
  }
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}