.main-layout {
    display: flex;
    min-height: 100vh;
    transition: all 0.3s ease;

    // fondo moderno
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('/bg2026.jpg') no-repeat center center;
    background-size: cover;
}

.content {
    flex: 1;
    margin-left: 260px;
    /* Same width as expanded sidebar */
    transition: margin-left 0.3s ease;
}

/* When sidebar is collapsed */
.main-layout.sidebar-collapsed .content {
    margin-left: 50px;
    /* Same width as collapsed sidebar */
}

/* Full width content when no sidebar */
.content-full {
    margin-left: 0 !important;
    padding: 0;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .content {
        margin-left: 0;
    }

    .main-layout.sidebar-collapsed .content {
        margin-left: 0;
    }

    .content-full {
        padding: 0;
    }
}