 .container {
     padding: 0 20px;
     margin: 0 auto;
 }

 mat-card {
     margin-bottom: 20px;
 }

 mat-card-header {
     margin-bottom: 20px;
 }

 .ayuda {
     margin-left: auto;
 }

 .actions-container {
     margin-top: 10px;
     text-align: center;
 }

 @media (max-width: 768px) {
     .container {
         padding: 0;
     }
 }