<app-header [title]="'Contenido de Ubicacion: ' + ubicacion()" icon="pin_drop" />

@if (isLoading()) {
<app-loader-page message="Cargando contenido de la ubicación..." icon="pin_drop" />
}


<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <mat-card-title>Seleccione la bodega</mat-card-title>
                <mat-card-subtitle>Seleccione la bodega de la que quiere ver el contenido:</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <mat-radio-group [value]="bodegaSeleccionada()" class="example-radio-group"
                    (change)="bodegaSeleccionada.set($event.value)">
                    @for (bodega of bodegas(); track bodega) {
                    <mat-radio-button [value]="bodega">{{bodega}}</mat-radio-button>
                    }
                </mat-radio-group>
            </mat-card-actions>

            @if(dataFiltrada()){
            <table>
                <thead>
                    <tr>
                        <th>Lote</th>
                        <th>Bodega</th>
                        <th>CodArticulo</th>
                        <th>Articulo</th>
                        <th>Cantidad</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of dataFiltrada(); track $index) {
                    <tr>
                        <td>
                            <span class="link"
                                (click)="verDetalleLote(item.Lote, item.CodArticulo)">{{item.Lote}}</span>
                            <span> <mat-icon class="clickable-icon"
                                    (click)="verDetalleLote(item.Lote, item.CodArticulo)">visibility</mat-icon></span>
                        </td>
                        <td>{{item.CodBodega}}</td>
                        <td>{{item.CodArticulo}}</td>
                        <td>{{item.Articulo}}</td>
                        <td>{{item.Cantidad}} {{item.UnidadMedida}}</td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </mat-card-content>
    </mat-card>
</div>